body {
  margin-top: 100px;
  text-align: center;
  padding: 0;
}
table {
  width: 500px;
  margin: auto;
  border-collapse: collapse;
  border-spacing: 0;
  border: 2px solid black;
}
tr,
td,
th {
  background-color: #f2f0a4;
  border: 2px solid black;
}

th.coloanaNume,
th.coloanaPrenume {
  width: 120px;
}

thead {
  font-weight: bold;
}
.adauga-student {
  width: 500px;
  height: 80px;
  margin: auto;
  background-color: #dba739;
}
.adauga-student input {
  float: left;
  margin: 15px;
}
#sterge {
  width: 50px;
}
#butonAdauga {
  width: 200px;
  margin-left: 25%;
  margin-right: 25%;
}
#inputNume,
#inputPrenume {
  width: 90px;
}
#inputVarsta,
#inputMedia {
  width: 65px;
}
